<%- layout("LAYOUTT/boilerplate") %>

<h1>Register page</h1>


<form action="/register" method="post">


    <div>
        name<input type="text" name="name" id="">
    </div>
    
    <div>
        email<input type="email" name="email" id="">
    </div>
    <div>
        password<input type="password" name="password" id="">
    </div>

    <button>Click me</button>


</form>